<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <form th:action="@{/user/{userId}/update(userId=${user.id})}" enctype="multipart/form-data" method="post" th:object="${user}">
        <label for="firstname">FirstName
            <input id="firstname" type="text" value="firstname">
        </label>
        <label for="lastname">LastName
            <input id="lastname" type="text" value="lastname">
        </label>
        <label for="surname">SurName
            <input id="surname" type="text" value="surname">
        </label>
    </form>
</body>
</html>